@import "../../../style/variables.module.scss";
.listWrapper {
  .nav {
    display: flex;
    .navItem {
      height: 55px;
      background-color: $grey;
      margin: 1px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $greyHover;
      }
    }
  }

  .list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .listItem {
      width: 90vw;
    }
  }
}
