

@import '../variables.module.scss';
@import '../mixins.scss';


.assignmentWrapper {
  margin-bottom: 10px;
  padding-top: 5px;
  display: flex;
  gap: 150px;

  .container {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .top {
      // border: 1px solid black;
      border-radius: 5px 5px 0 0;
      padding: 5px 10px;
      background-color: $redCaseFive;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      .topLeft {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .title {
          font-size: 1.4rem;
          font-weight: 500;
          @include text-ellipsis(1);
          word-break: break-all;
        }
        .description {
          @include text-ellipsis(3);
          font-size: 13px;
          word-break: break-all;
        }
      }
      .topRight {
        min-width: 110px;
        .languagesWrapper {
          font-size: 13px;
          font-weight: 100;
        }
        .btnWrapper {
        }
      }
    }
    .bottom {
      display: flex;
      background-color: $black;
      font-size: 1.2rem;
      font-weight: 100;
      > *:not(:last-child) {
        border-right: 1px solid $bcSix;
      }
    }

    &:hover {
      .top {
        background-color: #762022;
      }
    }
  }
}
