.mainWrapper {
  height: calc(100vh - 55px);
  border: 3px solid black;

  .container {
    display: flex;
    height: 100%;
    border: 1px solid #ff0000;
    padding: 20px;

    .option {
      flex: 1;
      border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: rgba(0, 128, 0, 0.101);
      }
      @media screen and (max-width: 800px) {
        height: auto;
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }
}
