$grey: #f2f7f2;
$greyHover: #f2f7f280;
$greyText: #5e6d55cf;
$icons: #5e6d559b;
$green: #108a00;
$red: #9d1111;
$white: #ffffff;
$black: #0000;

$textSmall: 0.7rem;
$textMedium: 0.9rem;

$sizeMB: 600px;
$sizeTB: 900px;



// @media screen and (max-width: 600px) {
//     max-width: none;
//   }
