$primaryColorOne: #dae0d2;
$blue: #03a1c8;
$red: #d03022;

// $primaryColorTwo: #d8ded4;
$orangeCaseTwo: #f35c17;
$greenCaseTwo: #009a8e;
$greenCaseTwoTransparent: #009a8eb3;
$orangeGreen: #364d31;
$greenCaseTwoTransparent: #009a8da2;
$fontColorCaseTwo: #1c1c1c;

$greenCaseThree: #02b2a5;
$redCaseThree: #ee281b;
$redCaseThreeTransparent: #f35c17cf;
$orangeCaseThree: #fcac0f;
$fontColorCaseThree: #dfe1d6;

$redCaseFour: #ec4c3e;
$yellowCaseFour: #f8cc47;
$blueCaseFour: #19417e85;

$mainBg: #e9e9e9;

$redCaseFive: #94292b;
$bcSix: #2b323a;
// $redSix: #e64c3c;
$black: #17161b;
$white: #ebebeb;
$green:  #47a085;
$grey: #6c6d6c


