.mainWrapper {
  margin-bottom: 1.5rem; /* Регулирует расстояние между элементами */
  width: 30vw;
  .mainContainer {
    position: relative;

    .customInput {
      border: 1px solid #ccc; /* Толщина рамки и цвет */
      border-radius: 8px; /* Закругление углов */
      padding: 10px; /* Внутренний отступ в инпуте */
      width: 93%; /* Растягиваем инпут на всю ширину контейнера */
      &:focus {
        border-color: #007bff; /* Цвет рамки при фокусе */
        outline: none; /* Убираем внешний контур при фокусе */
      }
    }
     .redBorder {
      border: 1px solid red; /* Определение красной рамки */
    }


    .errorMessage {
      position: absolute;
      top: 2.8rem;
      left: 2px;
      font-size: 0.8rem; /* Регулирует размер текста сообщения об ошибке */
      color: #ff0000; /* Цвет текста ошибки */
    }
  }
  
    

  @media (max-width: 1024px) {
    width: 40vw;
  }
  @media (max-width: 800px) {
    width: 80vw;
  }
}
